.dashboard {
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-header h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .user-firstname {
    color: #ff00ff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #ff00ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
  }
  

  
 
  
  .dropdown-menu button:hover {
    background-color: #f4f4f9;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .section h3 {
    font-size: 1.5em;
    color: #333;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section li {
    background-color: #fff;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  