.programs-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 8rem;
}
.offers-container {
  margin-top: -4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  /* line-height: 2rem; */
}
.offers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.offer {
  display: flex;
  flex-direction: column;
  background-color: #FFCC00;
  gap: 2rem;
  width: 25rem;
  padding: 1.5rem;
  font-weight: bold;
  cursor: pointer; /* Indicate clickability */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}
.deadline {
  font-size: 1rem;
  font-weight: lighter;
}
.deadline-date {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue);
}
.activity-name{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue);
}
.offer:nth-child(2) {
  background-color: #FFCC00;
  transform: scale(1.1);
  font-size: 1rem;
  font-weight: bold;
}
.offer-season{
  font-size: 2rem;
  font-weight: bold;
}
.title-price{
 display: flex;
 flex-direction: row ;
  justify-content: space-between;
}
.monthly-price{
  font-size: 2rem;
  font-weight: bold;;
}
.offer > :nth-child(3) {
  font-size: 1rem;
  /* font-weight: bold; */
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
.offer > :nth-child(4) {
  font-size: 1rem;
  font-weight: bold;
  color: green;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.offers>:nth-child(2)>button{
    color: var(--blue);
}
@media screen and (max-width: 768px) {
.offers{
  flex-direction: column;
}.offer:nth-child(2){
  transform: none;
}
/* Add hover effect for scaling */
.offer:hover {
  transform: scale(1.05);
}
}









