.manage-bookings {
    padding: 20px;
  }
  
  .booking-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .booking-card p {
    margin: 5px 0;
  }
  
  .booking-card button {
    margin-right: 10px;
  }
  
  .book-program-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .book-program-button:hover {
    background-color: #218838;
  }
  